.container {position: relative; width: 300px; height: 300px;}
.img {position: absolute; top: 0; left: 0;}
#buca-dietro {z-index: 1; left: -80px; width: 765px; top: -22px;}
#talpa {
    z-index: 2;
    width: 520px;
    top: 120px;
    left: 35px;
}
#buca-davanti {z-index: 3; top: 45px;}
.start {
    position: absolute;
    top: 260px;
    left: 220px;
    z-index: 4;
    width: 200px;
    height: 80px;
    font-size: 200%;
}
